.country {
    display: flex;
    width: 23%;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    flex-grow: 1;
    max-width: 25%;
}

#Dark .country {
    background-color: #2b3945;
}

#Light .country {
    background-color: #fff;
}

.flag {
    display: flex;
    justify-content: center;
    align-items: center;
}

.countryInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
}